html,
body {
	padding: 0;
	margin: 0;
	font-family: Inter, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
	html {
		color-scheme: light;
	}
	body {
		color: #121214;
		background-color: #eaeaea;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: #eaeaea;
		background-color: #121214;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
