.container {
	padding: 0 2rem;
}

.main {
	min-height: 100vh;
	padding: 4rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.main > :first-child {
	border-radius: 100%;
	box-shadow: 0 0 50px rgba(124, 124, 138, 0.2);
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 1.5rem;
	color: #eaeaea;
}

.title,
.description {
	text-align: center;
}

.description {
	line-height: 1.5;
	font-size: 1.125rem;
	color: rgba(124, 124, 138, 0.7);
	font-weight: 400;
	margin: 0;
}

.grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.card {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0.75rem 1rem;
	text-decoration: none;
	border-radius: 12px;
	transition: color 0.15s ease, border-color 0.15s ease, width 0.2s ease,
		box-shadow 0.15s ease;

	height: 56px;
	width: 360px;

	background-color: #202024;
	color: #7c7c8a;
}

.card span {
	font-size: 14px;
}

.card:hover,
.card:focus,
.card:active {
	color: #eaeaea;
	box-shadow: 0 0 10px rgba(200, 200, 200, 0.2);
}

.logo {
	height: 1em;
	margin-left: 0.5rem;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
	.card {
		width: 260px;
	}
}

@media (prefers-color-scheme: light) {
	.title {
		color: #222;
	}

	.description {
		color: rgba(26, 26, 26, 0.7);
	}

	.card {
		background: white;
		border: 1px solid #7c7c8a;
	}

	.card:hover,
	.card:focus,
	.card:active {
		color: #222;
		border-color: #222;
	}
}

@media (prefers-color-scheme: dark) {
	.card {
		border-color: #222;
	}
}
